$dark-green: #4AA96C;
$light-green: #9FE6A0;
$pastel-green: #94B49F;

$dark-gray: #2b2b2bc4;
$light-gray: #595260;

.list-group-item{
    background-color: $dark-gray;
    border-bottom: 1px solid white;
   
    color: white;

    &:first-child{
        border-top: 3px solid brown ;

    }

    &:last-child{
        border-bottom: 3px solid brown ;
    }
}

.game-room{
    text-align: center;

    &__header{
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 1rem;;
        width: 80%;
        max-width: 300px;
        font-family: 'Bungee Inline', cursive;
        font-size: 2.5rem;;
        color: $light-gray;
    }

    &__members{
        text-align: left;
        margin: 0 auto;

        &--member{
            height: 50px;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    &__button--start{
        position: absolute;
        height: 150px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        font-weight: 800;
        width: 100%;
        margin: 10px 0px 0 0;
        font-size: 1.3rem;
        bottom: 0;
        left:0
    }

    &__tag{
    background-color: $dark-gray;

        &--span{
            width: 40%;
            font-size: 1.2rem;
            text-align: right;
            font-weight: 500;
            color: #0d6efd;
        }
}
}


li{
    list-style: none;
}
