
<div class="container-fluid">
    <div class="row game-room">
        <h1 class="game-room__header">Game Room</h1>
            <h6>{{player.playerTag == null ? 'Teacher' : player.playerTag | titlecase }}</h6>


             <!-- Contestant -->
            <div class="center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == 'contestant'">
                <app-timer [timerStart]="timerSubject.asObservable()"></app-timer>
                <app-currentword-contestant></app-currentword-contestant>
            </div>


            <!-- HOST -->
            <div class=" center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == 'host'">
                <div class="row">
                    <div class="col-6">
                        <app-timer [timerStart]="timerSubject.asObservable()"></app-timer>
                    </div>
                    <div class="col-6">
                         <app-currentword [newWord]="wordSubject.asObservable()"></app-currentword>
                    </div>
                   
               
                </div>
                
                <h3>Current Contestants</h3>
                <ul class="list-group">
                    <li *ngFor="let player of roomMembers" [style.display]="player.playerTag !== 'contestant' ? 'none' : 'block'" class="list-group-item">{{player.student}} <span *ngIf="player.ansQuestion" class="game-room__contestant--marks">Answered</span> </li>
                </ul>
            <button class="btn btn-primary" (click)="nextQuestion()">Next Question</button>
            </div>

            <!-- ADMIN -->
            <div class=" center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == null">
                <div class="row">
                    <div class="col-6">
                        <app-timer [timerStart]="timerSubject.asObservable()"></app-timer>
                    </div>
                    <div class="col-6">
                         <app-currentword [newWord]="wordSubject.asObservable()"></app-currentword>
                    </div>
                   
               
                </div>

                <h3>Current Contestants</h3>
                <ul class="list-group">
                    <li *ngFor="let player of roomMembers" [style.display]="player.playerTag !== 'contestant' ? 'none' : 'block'" class="list-group-item">{{player.student}} 
                        <span class="position-absolute top-25 end-0">
                            <span *ngFor="let mark of player.currentGame">
                                <span class="game-room__contestant--marks"  *ngIf="mark == 'Correct'" emoji="😃"></span>
                                <span class="game-room__contestant--marks"  *ngIf="mark == 'Incorrect'"emoji="😔" ></span>
                            </span>
                        </span>
                    </li>
                </ul>

            <button class="btn btn-primary" (click)="startTimer()">Start Game</button>
            </div>

        </div>
     
</div>




