$dark-green: #4AA96C;
$light-green: #9FE6A0;
$pastel-green: #94B49F;

$dark-gray: #2B2B2B;
$light-gray: #595260;

.center{
    margin: 0 auto;
}

.list-group-item{
    background-color: $dark-gray;
    border-bottom: 1px solid white;
   
    color: white;

    &:first-child{
        border-top: 3px solid brown ;

    }

    &:last-child{
        border-bottom: 3px solid brown ;
    }
}

.game-room{
    text-align: center;

    &__header{
        font-size: 40px;
        font-weight: 700;
        color: rgb(248, 106, 106);
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;;
        width: 80%;
        max-width: 300px;

    }

    &__contestant{
        
        &--marks{
            background-color: $dark-gray;
            float: right;
            color: #0d6efd;
            font-weight: 700;
        }
    }
    

    &__tag{
        background-color: $dark-gray;
    
            &--span{
                width: 40%;
                font-size: 1.2rem;
                text-align: right;
                font-weight: 500;
                color: #0d6efd;
            }
    }

}


.btn{
    position: absolute;
    height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    margin: 10px 0px 0 0;
    font-size: 1.3rem;
    bottom: 0;
    left:0
}

.list-group{
    text-align: left;
}

.marker{
    height: 25px;
}
