
<div class="container-fluid">
    <div class="row game-room">
        <img class="game-room__header" src="../../../assets/gameroom.png" alt="">
            <h4>You are playing as {{player.playerTag == null ? 'Teacher' : player.playerTag}}</h4>
            <h4>The Game Host is {{'HostName'}}</h4>

             <!-- Contestant -->
            <div class="center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == 'contestant'">
                <app-timer></app-timer>
                <app-currentword-contestant></app-currentword-contestant>
            </div>


            <!-- HOST -->
            <div class=" center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == 'host'">
                <app-timer></app-timer>
                <app-currentword [newWord]="wordSubject.asObservable()"></app-currentword>
                <h3>Current Contestants</h3>
                <ul class="list-group">
                    <li *ngFor="let player of roomMembers" class="list-group-item">{{player.student}} <span *ngIf="player.ansQuestion" class="game-room__contestant--marks">Answered</span> </li>
                </ul>
            <button class="btn btn-primary" (click)="nextQuestion()">Next Question</button>
            </div>

            <!-- ADMIN -->
            <div class="center col-sm-12 col-md-6 col-lg-5" *ngIf="player.playerTag == null">
                <app-timer [timerStart]="timerSubject.asObservable()"></app-timer>
                <app-currentword></app-currentword>

                <h3>Current Contestants</h3>
                <ul class="list-group">
                    <li *ngFor="let player of roomMembers" class="list-group-item">{{player.student}} 
                        <span class="position-absolute top-25 end-0">
                            <span *ngFor="let mark of player.currentGame">
                                <span class="game-room__contestant--marks"  *ngIf="mark == 'Correct'"><img class="marker game-room__contestant--marks" src="../../assets/correct.png" alt=""></span>
                                <span class="game-room__contestant--marks"  *ngIf="mark == 'Incorrect'" ><img class="marker game-room__contestant--marks" src="../../assets/incorrect.png" alt="" ></span>
                            </span>
                        </span>
                    </li>
                </ul>

            <button class="btn btn-primary" (click)="startTimer()">Start Game</button>
            </div>

        </div>
     
</div>




