$dark-green: #4AA96C;
$light-green: #9FE6A0;
$pastel-green: #94B49F;

$dark-gray: #2B2B2B;
$light-gray: #595260;

.center{
    margin: 0 auto;
}

.list-group-item{
    background-color: $light-green;
}

.game-room{
    text-align: center;

    &__header{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 1rem;;
        width: 80%;
        max-width: 300px;

    }

}

.card{
    margin-bottom: 5px;
}

.card-header{
    background-color: #595260;
    color: white;
    padding: 7px;
}

.card-body{
    background-color: white;
    border-top: 1px solid black;
    padding: 7px;
}

.btn{
    position: absolute;
    height: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    margin: 10px 0px 0 0;
    font-size: 1.3rem;
    bottom: 0;
    left:0
}

.list-group{
    text-align: left;
}


