.card{
    margin-bottom: 5px;
}

.card-header{
    background-color: #595260;
    color: white;
    padding: 7px;
}

.card-body{
    background-color: white;
    border-top: 1px solid black;
    padding: 7px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}