$dark-green: #4AA96C;
$light-green: #9FE6A0;
$pastel-green: #94B49F;

$dark-gray: #2B2B2B;
$light-gray: #595260;

.main-div{
    margin: 0 auto;
    text-align: left;
}

.student{
    text-align: center;

    &__logo{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    &__header{
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;;
        width: 70%;
        max-width: 300px;
        
    
        &--chooseRoom{
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom:0;
            width: 70%;
            max-width: 300px;
            
        }
    }
}

.student{

    &__name{

        &--input{
            height: 60px;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

.list-group-item{
    background-color: $light-green;

    &:hover {
        background-color: $pastel-green;
    }
}