$dark-green: #4AA96C;
$light-green: #9FE6A0;
$pastel-green: #94B49F;

$dark-gray: #2B2B2B;
$light-gray: #595260;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Pangolin', cursive;
}


    html, body {
        min-height:100%;height:100%;
      }

body{
    background-image: url("../src/assets/back.jpg");
    background-position: center;
    background-size: 190%;
   
}