.admin{
    text-align: center;

    &__header{
        margin-top: 5rem;
        font-weight: 700;
    }

    &__form{
        margin: 0 auto;
        text-align: left;
        &--input{
        
        }

        &--button{
            margin: 5px 0px 0 0
        }
    }
}