

.admin{
    text-align: center;
    
    &__logo{
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 100%;
    }

    &__header{
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;;
        width: 70%;
        max-width: 300px;
        
        &--container {
            height: 35vh;
        }
    }

    &__main {

        &--container{
            height: 65%;
            
        }

        &--buttons {
            position: absolute;
            bottom: 0;
           width: 95%;
            right: 0;
            margin: 2.5%;

            @media screen and (max-height: 650px) {
                position: relative;
            }
        }


    }

    &__form{
        margin: 0 auto;
        text-align: left;
        padding: 10px;
        
        &--input{
            height: 60px;
            font-size: 1.5rem;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0.322);
            border: 2px solid black;
            color:white;

            &::placeholder{
                color:  rgb(206, 206, 206);
                text-transform: uppercase;
                text-align: center;
            }
        }

        &--button{
            width: 100%;
            margin: 10px 0px 0 0;
            font-size: 1.3rem;

            &:first-child{
                height: 150px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 2rem;
                font-weight: 800;
            }
        }
    }
}